* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.textPrimary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    height: 64px;
    border-radius: 5px;
    padding: 18px 35px 19px 36px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    
    border: 0;
}

.header {
    background: #FFF8F3;
    
    background-image: url('/images/header_bg.png'), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;


}

/* header and navigation style */
.navTitle {
    font-size: 45px;
    font-weight: 800;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 51px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.banner {
    margin: 0 200px;
    display: flex;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;

    color: #181818;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
    color: #474747;
}

.banner-describtion {
    margin-bottom: 15px;
    font-size: 15px;
    color: #757575;

}

.my-img {
    /* width: 480px;
    height: 500px; */

}

/* about me style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    margin-top: 120px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 157px 130px 156px;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
}

.about-describtion {
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-between;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
    text-align: center;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #474747;
}

/* what i do style */
.section-title-i-do {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 130px;
    margin-bottom: 30px;
}

.i-do-para {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #757575;
    padding: 0 120px;

}

.skills-container {
    display: flex;
    gap: 24px;

}

.skills {
    margin-top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skills img {
    width: 40px;
    height: 40px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;

}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    /* padding: 30px 30px 30px 30px; */
}

.section-title {
    margin-top: 130px;
    font-weight: 700;
    font-size: 30px;
}

/* summary style */
.summary-container {
    display: flex;
    gap: 71px;
}

.summary-education {
    /* margin-right: 100px; */
}

.summary-title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 30px;
}

.summary-sub-title {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
    margin-bottom: 10px;
}

.summary-versity {
    font-weight: 600;
    font-size: 15px;
    color: #757575;
    margin-bottom: 20px;
}

.summary-para {
    font-weight: 400;
    font-size: 12px;
    color: #757575;
}
.summary-hr{
    width: 555px;
    color: 1px solid #D1D1D1;
    margin-top: 30px;
    margin-bottom: 30px;
}

.summary-btn{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
/* contact */
.contact{
    display: flex;
    gap: 117px;
    justify-content: space-between;
    background: #FFF8F3;
  padding: 130px 200px;
}
.contact-title{
    font-weight: 700;
font-size: 35px;
color: #181818;
margin-bottom: 20px;
}
.contact-description{
    font-weight: 400;
font-size: 16px;
color: #474747;
margin-bottom: 30px;

}
.connect-icon{
    width: 900px;
    height: 600px;
}
.contact input[type="text"],input[type="email"] ,textarea{
    margin-bottom: 24px;
    width: 100%;
    border: 0;
    padding: 10px 20px;
}
input{
    height: 64px;
}
.connect-icon a{
    text-decoration: none;
    padding: 18px;
}
